@{
    ViewData["Title"] = "Achievements";
}

<div class="text-center">
    <h1 class="display-4">Whaddup, dog?</h1>
    <p>A section to build attainable achievements! Maybe it'll help me value myself more.</p>
</div>
