@{
    ViewData["Title"] = "Fitness";
}

<div class="text-center">
    <h1 class="display-4">Yo.</h1>
    <p>Workouts, guides, scheduling, I don't know. Some kind of trackign should go here.</p>
</div>
