@{
    ViewData["Title"] = "Library";
}

<div class="text-center">
    <h1 class="display-4">Me smart, use brain.</h1>
    <p>Need a place to track my books and put them on display.</p>
</div>
